header {
    background-color: yellow;
}

h2 {
    color: #AA4139;
    text-align: center;
    border: 3px solid rgba(255, 176, 170, 0.5);
}

a {
    background-color: black;
    color: red;
    cursor: pointer;
}

p {
    padding: 15px;
    background-image: url(background-image.jpg);
    border: 3px solid black;
    border-radius: 5px;
    background-size: cover;
}

li {
    list-style: none;
    display: inline;
}