*{
    text-align: right;
}
body{
    background-image: url(background-image2.jpg);
    background-size: cover;
}

/* class-selector */
.webtext{
    border: 5px double greenyellow;
}

.red{
    color: red;
}

/* id-selector */
#div1{
    background: rgba(0,0,255,0.2);
}
#div2{
    background: rgba(255,0,0,0.2);
}

li{
    list-style-type: none;
    display: inline-block;
}