* {
    text-align: right;
}

body {
    background-image: url(background-image2.jpg);
    background-size: cover;
}

/* class-selector */
.webtext {
    border: 5px double greenyellow;
}

.red {
    color: red;
}


li {
    list-style-type: none;
    display: inline-block;
}

img {
    float: right;
}

p {
    line-height: 2px;
}

footer {
    font-size: 150%;
    clear: both;
    text-align: center;
}